.contentRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contentRow .productsQuantityContainer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #8F8F8F;
  margin-right: 40px;
}

.contentRow .dropDown {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}