.sideMenu{
  width: fit-content;
}
.colorsContainer {
  display: flex;
}
.colorsContainer .colorItem{
  margin-right: 10px;
}
.colorsContainer .colorActive{
  border: 1px black solid;
}
@media only screen and (max-width: 768px) {
  .sideMenu {
    display: none;
  }
}