.rightTabs {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 148px;
}

.rightTabs .tooltipContent {
  position: relative;
  right: 116px;
  top: 26px;
}

.rightTabs .icon {
  cursor: pointer;
}

.rightTabs .carIcon {
  margin: 0 45px;
  position: relative;
}

.responsiveMobile {
  display: none;
  padding: 12px;
}

@media only screen and (max-width: 768px) {
  .responsiveLaptop {
    display: none;
  }
  .rightTabs {
    margin-right: 10px;
  }
  .responsiveMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}