.rightTabs {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 148px;
}

.rightTabs .tooltipContent {
  position: relative;
  right: 116px;
  top: 26px;
}

.rightTabs .icon {
  cursor: pointer;
}

.rightTabs .carIcon {
  margin: 0 45px;
  position: relative;
}