@import "./styles/colors.css";
.App {
  text-align: center;
  height: 100%;
}
.breadcrumb{
  display: flex;
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  .breadcrumb {
    display: none;
  }
}